.header {}
.nav {}
.header-nav {}
.adress-line {}
.main {}
.main__section {}
.cover {}
.description {}
.lots {}
.lots-title {}
.lots-cards {}
.lots-card {}
.card-title {}
.card-description {}
.about {}
.logo-column {}
.about-column {}
.about-description {}
.footer {}
.footer-nav {}
.social-sites-block {}
.social-sites-link {}