@font-face {
  font-family: Raleway Bold;
  src: url(../fonts/Raleway-Bold.woff);
}
@font-face {
  font-family: Raleway Normal Regular;
  src: url(../fonts/Raleway-Regular.woff);
}

body {
  width: 1100px;
  overflow-x: hidden;
}

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  width: 100%;
  height: 293px;
  padding: 0 50px;
  font-family: Raleway;
  font-weight: 400;
  font-size: 18px;
  font-style: Regular;
  line-height: 100%;
  letter-spacing: 0%;
}

.nav {
}

.header__menu {
  width: 391px;
  gap: 12.5px;
}

.header__links-list {
  list-style: circle;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.link-active {
  list-style: none;
  text-decoration: none;
}

.header__logo-image {
  width: 148px;
  height: 105px;
}

.header__address {
  line-height: 24.3px;
  max-width: 240px;
  justify-self: flex-end;
  font-style: normal;
}

.adress-line {
}

.main {
  width: 100%;
}

.main__section {
  width: 100%;
}

.cover {
  min-height: 757px;
  position: relative;
  padding: 0 50px 50px 50px;
  margin: 0 0 180px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url("../images/cover.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.404);
  background-blend-mode: multiply;
  color: white;
}

.cover__title {
  width: 100%;
  height: 385px;
  font-family: Raleway;
  font-weight: 700;
  font-style: Bold;
  font-size: 100px;
  line-height: 115%;
  letter-spacing: 30%;
  text-align: center;
  text-transform: uppercase;
  margin: 165px 0 0 0;
}

.title-item {
  display: block;
  width: 100%;
}

.aligned-text {
  letter-spacing: 23px;
  text-align: start;
}

.aligned-text_center {
  padding: 22px 0 0 25px;
  letter-spacing: 30px;
}

.aligned-text_right {
  padding: 21px 0 0 0;
  letter-spacing: 22px;
  text-align: end;
}

.cover__description {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  font-family: Raleway;
  font-style: Regular;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
}

.cover__description-text {
  font-weight: 400;
  word-spacing: 28px;
}

.bet-button {
  width: 256px;
  height: 51px;
  font-weight: 500;
  background: rgba(255, 255, 255, 0);
  border: 1px solid white;
  color: white;
  text-transform: uppercase;
}

.lots {
  height: 723px;
  margin: 0 0 120px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.lots__heading {
  font-family: Raleway;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  margin: 0 0 27px 40px;
}

.lots__card-list {
  display: flex;
  column-gap: 25px;
  justify-content: center;
  list-style: none;
}

.lots__card-list-item {
  min-height: 596px;
  width: 334px;
  padding: 48px 40px;
  color: white;
  font-family: Raleway;
}

.card_type_film {
  background: url(../images/card-lot-01.jpg);
  background-blend-mode: multiply;
  background-color: rgba(0, 0, 0, 0.404);
}

.card_type_book {
  background: url(../images/card-lot-02.jpg);
  background-blend-mode: multiply;
  background-color: rgba(0, 0, 0, 0.404);
}

.card_type_picture {
  background: url(../images/card-lot-03.jpg);
  background-blend-mode: multiply;
  background-color: rgba(0, 0, 0, 0.404);
}

.card-link {
  display: block;
  height: 100%;
  text-decoration: none;
}

.card {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card__title {
  text-decoration: underline;
}

.card__text {
}

.lots__look-more-link {
  font-family: Raleway;
  font-weight: 400;
  font-style: Regular;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  margin: 0 0 0 40px;
}

.about {
  min-height: 595px;
  display: grid;
  grid-template-columns: 359px 1fr;
  margin: 0 0 180px 0;
}

.about__column-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.about__column-image {
  height: 100%;
  display: flex;
  align-items: start;
}

.about__logo {
  height: 240px;
  width: 240px;
  border-radius: 50%;
  background-color: black;
  margin: 35px 72px 0 47px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__title {
  font-family: Raleway;
  font-weight: 700;
  font-style: Bold;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  margin: 0 0 100px 0;
}

.about__text {
  font-family: Raleway;
  font-weight: 400;
  font-style: Regular;
  font-size: 20px;
  line-height: 26px;
}

.footer {
  background-color: antiquewhite;
  height: 180px;
  display: grid;
  grid-template-columns: 264.57px 1fr 240px;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
}

.footer__address {
  width: 264.57px;
  font-family: Raleway;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  line-height: 24.3px;
}

.footer__menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__menu-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__menu-link {
  font-family: Raleway;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  line-height: 100%;
  text-align: center;
}

.footer__social-list {
  display: flex;
  justify-content: space-between;
  width: 240px;
  list-style: none;
}

.footer__social-list-item {
}

.footer__social-link {
  display: block;
  height: 48px;
  width: 48px;
}

.footer__social-icon {
}
